@import "../../../scss/main";
.contact{
    overflow: hidden;
}
.contactDiv{
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Avenir Next Medium", sans-serif;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    bottom: 0px;
    background: $lightBackground;
    @include mq(xs){
        flex-direction: column;
        position: relative;
        height: auto;
    }
    @include mq(sm){
        position: relative;
        height: auto;
    }
    div{
        flex: 1 1 30%;
        text-align: right;
        @include mq(xs){
            text-align: center;
            width: 100%;
            border-bottom: 1px dotted #000;
        }
        b{
            // margin-right: 6%;
        }
        p{
            font-weight: bold;
        }
    }
    .socialMedia{
        top:30%;
        left: 0%;
        display: flex;
        @include mq(xs){
            justify-content: space-evenly;
            width: 100%;
  
        }
        div{
            margin-bottom: 20px;
            margin-left: 20%;
            margin-top: 30px;
            @include mq(xs){
                margin-bottom: 0px;
                margin-left: 0%;
                margin-top: 0px;
            }
            a img{
                width: 50px;
                height: 50px;
            }
        }
    }
    .information{

    }
    .phone{
        text-align: center;
    }
    .address{
        text-align: center;
    }

}